PORT=8080
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?sslmode=disable"
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"
APPLE_CLIENT_ID="com.example.web"
APPLE_TEAM_ID="YOUR_APPLE_TEAM_ID"
APPLE_KEY_ID="YOUR_APPLE_KEY_ID"
APPLE_PRIVATE_KEY_PATH="./AuthKey_YOUR_APPLE_KEY_ID.p8"
AUTH_URL="http://localhost:8080"
JWT_SECRET="your-256-bit-secret"
WEBHOOK_DEBUG_SECRET="your-debug-webhook-secret"
APIFY_API_TOKEN="your-apify-api-token"
APIFY_DEBUG_DIR="./debug/apify"
APIFY_TIKTOK_ACTOR_URL="https://api.apify.com/v2/acts/scraptik~tiktok-api/runs"
APIFY_FACEBOOK_REELS_ACTOR_URL="https://api.apify.com/v2/actors/dami_studio~facebook-posts-scraper/runs"
IMPORT_WEBHOOK_SECRET="your-import-webhook-secret"
S3_ENDPOINT=127.0.0.1
S3_PUBLIC_ENDPOINT=http://10.0.2.2:9004
S3_PORT=9004
S3_ACCESS_KEY=<S£ access key>
S3_SECRET_KEY=<S3 SECRET KEY>
S3_REGION=<optional>
S3_BUCKET=<s3 bucket name>
S3_USE_SSL=<true for https else false>
